<script type="text/javascript" src="/statics/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/statics/js/jquery.form.min.js"></script>
<script type="text/javascript" src="/statics/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/statics/js/public.js"></script>
<script type="text/javascript" src="/statics/js/paging.js"></script>
<script type="text/javascript" src="/statics/plugin/layer/layer.js"></script>
<script type="text/javascript" src="/statics/plugin/layui/layui.js"></script>