<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>作业列表</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    #include("_css.html")
</head>
<body>

#include("_navbar.html")


<div class="container main">
    <div class="row">
        <div class="col-md-12">
            <div class="bread">
                <a href="/info/classes">班级列表</a>
                &gt; <span>作业列表</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="row" id="class-info">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">教学班信息</div>
                        <div class="panel-body">
                            <table>
                                <tbody>
                                <tr>
                                    <th>教学班号</th>
                                    <td>#(classInfo.classId)</td>
                                </tr>
                                <tr>
                                    <th>课程名称</th>
                                    <td>#(classInfo.courseName)</td>
                                </tr>

                                <tr>
                                    <th>学期</th>
                                    <td>#(classInfo.termName)</td>
                                </tr>
                                </tbody>
                            </table>
                            <input type="hidden" id="curClassId" value="#(classInfo.classId)">
                            <input type="hidden" id="total-count" value="#(totalCount)">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row read-option" style="margin-top: -20px">
                <div class="col-md-12">
                    <h2>作业列表</h2>
                </div>
            </div>
            <div id="tab-content">
                <div id="change-content">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 45%;">作业标题</th>
                            <th>发布日期</th>
                            <th>截止日期</th>
                            <th>网上提交</th>
                            <th>批改完成</th>
                            <th></th>
                        </tr>
                        </thead>
                        #for(assignmentList : assignmentLists)
                        <tbody id="assignment-list#(for.index + 1)" class="#if(for.index>0)hidden#end">
                        #for(x : assignmentList)
                        <tr>
                            <td><a class="assignment" href="javascript:void(0);">#(x.title)</a></td>
                            <td>#(x.startDate.toString().substring(0, 10))</td>
                            <td>#(x.endDate)</td>
                            <td data-submit="true">#(x.needSubmit ? '是':'否')</td>
                            <td>是</td>
                            <td>
                                <a href="/execute/#(x.assignmentId)"
                                   title="查看作业详情" class="btn btn-info btn-xs" data-toggle="tooltip"
                                   data-placement="bottom">
                                    <i class="glyphicon glyphicon-list"></i>
                                </a>
                            </td>
                        </tr>
                        <tr class="assignment-content" style="display: none;">
                            <td colspan="6">
                                <p>#(x.content)</p>
                            </td>
                        </tr>
                        #end
                        </tbody>
                        #end
                    </table>
                </div>
                <div id="pageTool"></div>
            </div>
        </div>
    </div>

</div> <!-- /container -->


#include("_js.html")
<script>
    $(function () {

        $('[data-toggle="tooltip"]').tooltip();

        var page = new Paging();
        var totalCount = $('#totalCount').val();
        page.init({
            target: $('#pageTool'),
            pagesize: 10,
            count: totalCount,
            current: 1,
            callback: function (pagecount, size, count) {
                $('tbody').addClass('hidden');
                $('#assignment-list' + pagecount).removeClass('hidden');
                page.render({count: totalCount, current: pagecount});
            }
        });

        $("#change-content").delegate("a.assignment", "click", function () {
            $(this).closest("tr").next().toggle();
        });
    });
</script>


</body>
</html>