<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>班级列表</title>

    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">

    #include("_css.html")

</head>

<body>


#include("_navbar.html")

<div class="container main">
    <div class="row">
        <div class="col-md-9">

            <div>
                <div class="row read-option">
                    <div class="col-md-12">
                        <h2>班级列表</h2>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>教学班号</th>
                        <th>课程名称</th>
                        <th>学期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    #for(classList : classLists)
                    <tbody id="class-list#(for.index + 1)" class="#if(for.index>0)hidden#end">

                    #for(x : classList)
                    <tr>
                        <td>#(x.classId)</td>
                        <td>#(x.courseName)</td>
                        <td>#(x.termName)</td>
                        <td>
                            <a href="/assignment/list/#(x.classId)" title="查看作业" class="btn btn-info btn-xs">
                                <i class="glyphicon glyphicon-list"></i>
                            </a>
                        </td>
                    </tr>
                    #end

                    </tbody>
                    #end
                </table>
            </div>
            <div id="pageTool"></div>
        </div>

    </div>

    <hr>
    <footer>
        <p>© Olin</p>
    </footer>
</div>

#include("_js.html")
<script>
    $(function(){
        var page = new Paging();
        var totalCount=#(totalCount);
        page.init({
            target: $('#pageTool'), pagesize: 15, count: totalCount, current: 1, callback: function (pagecount, size, count) {
                $('tbody').addClass('hidden');
                $('#class-list'+pagecount).removeClass('hidden');
                page.render({count: totalCount, current: pagecount});
            }
        });
    });
</script>
</body>
</html>