<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>代码编辑</title>

    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">

    <script src="/statics/plugin/codemirror/mode/xml/xml.js"></script>

    <script src="/statics/plugin/codemirror/addon/edit/matchbrackets.js"></script>

    <link rel="stylesheet" href="/statics/plugin/codemirror/addon/hint/show-hint.css">
    <script src="/statics/plugin/codemirror/addon/hint/show-hint.js"></script>
    <script src="/statics/plugin/codemirror/mode/clike/clike.js"></script>
    

    #include("_css.html")
    <style>
        .CodeMirror {
            height: 374px;
        }
    </style>

</head>
<body>
#include("_navbar.html")

<div class="container">
    <br>
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div id="compiler" class="panel-heading">
                    <form class="form-inline" role="form">
                        <button type="button" class="btn btn-primary" id="submitBTN" disabled="disabled">点击运行</button>
                        <button type="button" class="btn btn-default" id="clearCode">清空</button>

                        <select class="form-control pull-right" id="sel1">
                            <option selected="selected" value="https://c.runoob.com/compile/12">C++</option>
                            <option value="https://c.runoob.com/compile/11">C</option>
                        </select>


                    </form>
                </div>
                <div class="panel-body">
                    <form role="form" id="compiler-form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-7">
                                    <textarea class="form-control" id="code" name="code" rows="18">
#[[#include <iostream>
using namespace std;
int main()
{
   cout << "Hello World";
   return 0;
}]]#
                                    </textarea>
                                </div>
                                <div class="col-md-5">
                                    <textarea placeholder="运行结果……" class="form-control" id="compiler-textarea-result"
                                              rows="18"></textarea>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

#include("_js.html")

<script>
    // var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
    //     lineNumbers: true,
    //     matchBrackets: true,
    //     mode: "text/x-c++src",
    //     indentUnit: 4,
    //     indentWithTabs: true
    // });

    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-c++src"
    });
    btn = $("#submitBTN");

    editor.on("change", function (editor, change) {
        btn.prop('disabled', false);
    });

    btn.click(function () {
        btn.prop('disabled', true);
        loadingdata = '程序正在运行中……';
        $("#compiler-textarea-result").val(loadingdata);

        code = editor.getValue();
        runcode = 7;
        $.post("https://m.runoob.com/api/compile.php", {
            code: code,
            language: runcode,
            fileext: "cpp"
        }, function (data) {
            if (runcode == 18) {
                data.output = data.output.replace("Free Pascal Compiler version 2.6.2-8 [2014/01/22] for x86_64\nCopyright (c) 1993-2012 by Florian Klaempfl and others\n", "");
                data.errors = data.errors.replace("/usr/bin/ld.bfd: warning: /usercode/link.res contains output sections; did you forget -T?\n", "");
            }
            $("#compiler-textarea-result").val(data.output + data.errors);
        });
        setTimeout(function () {
            btn.prop('disabled', false);
        }, 10 * 1000);
    });

    $("#clearCode").click(function () {
        editor.setValue("");
        editor.clearHistory();
        $("#compiler-textarea-result").val("");
        btn.prop('disabled', true);
    });

    $(function () {
        // bind change event to select
        $('#sel1').on('change', function () {
            var url = $(this).val(); // get selected value
            if (url) { // require a URL
                window.location = url; // redirect
            }
            return false;
        });
    });

</script>
</html>