<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>相似度分析</title>

    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">

    #include("_css.html")
</head>
<body>

#include("_navbar.html")

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                #include("_sidebar.html")
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="breadcrumb">
                    <li><a href="/info/classes">班级列表</a></li>
                    <li><a href="/info/assignments/#(assignment.classId)">作业列表</a></li>
                    <li><span>作业详情</span></li>
                </div>
            </div>

            <input id="assignmentId" type="hidden" value="#(assignment.assignmentId)"/>
            <div class="row" style="margin-bottom: 20px">
                <a class="btn btn-primary analysis-btn">进行相似度分析</a>
            </div>
            <div class="row" id="main">

            </div>
        </div>
    </div>
</div>


#include("_js.html")
<script>

    $(function () {

        $(".hidden-btn").click(function () {
            if ($(this).attr('data-original-title') === '隐藏') {
                $(this).attr('data-original-title', '显示');
                $(this).find('.glyphicon-chevron-up').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            } else {
                $(this).attr('data-original-title', '隐藏');
                $(this).find('.glyphicon-chevron-down').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
            $(this).closest('.row').next().toggle();
        });

        $(".analysis-btn").click(function () {
            var assignmentId = $('#assignmentId').val();
            var index = layer.load(1, {
                shade: [0.5, '#fff']
            });
            $.post("/analysis/" + assignmentId, {}, function (data) {
                layer.close(index);
                $('#main').html(data);
                $('[data-toggle="tooltip"]').tooltip();
            });
        });

    });
</script>

</body>
</html>
