<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>相似度分析</title>

    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">

    #include("_css.html")
</head>
<body>

#include("_navbar.html")

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                #include("_sidebar.html")
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="breadcrumb">
                    <li><a href="/info/classes">班级列表</a></li>
                    <li><a href="/info/assignments/#(assignment.classId)">作业列表</a></li>
                    <li><span>作业详情</span></li>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px">
                <a class="btn btn-primary" href="/analysis/#(assignment.assignmentId)">重新进行相似度分析</a>
            </div>
            <div class="row">
                #for(question : questionList)
                <div class="row">
                    <div class="col-md-10"><h3>第#(question.questionNo)题</h3></div>
                    <div class="col-md-2">
                        <a class="btn btn-info btn-xs hidden-btn" data-toggle="tooltip" data-placement="bottom"
                           data-original-title="隐藏">
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-4">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">相似度50%～100%</h3>
                            </div>
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">相似度30%～50%</h3>
                            </div>
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">相似度10%～30%</h3>
                            </div>
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                </div>

                #end
                #for(similarityResultVo : similarityResultVoList)
                <div class="row">
                    <div class="col-md-10"><h3>第#(similarityResultVo.questionNo)题</h3></div>
                    <div class="col-md-2">
                        <a class="btn btn-info btn-xs hidden-btn" data-toggle="tooltip" data-placement="bottom"
                           data-original-title="隐藏">
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-4">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">相似度50%～100%</h3>
                            </div>
                            <div class="panel-body">
                                #for(x : similarityResultVo.highSimilarityVoList)
                                <label data-toggle="tooltip" data-placement="bottom"
                                       title="#(x.userId1)">#(x.userName1)</label>
                                与
                                <label data-toggle="tooltip" data-placement="bottom"
                                       title="#(x.userId2)">#(x.userName2)</label>
                                的相似度为#(x.similarity)%<br>
                                #else
                                无数据
                                #end
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">相似度30%～50%</h3>
                            </div>
                            <div class="panel-body">
                                #for(x : similarityResultVo.mediumSimilarityVoList)
                                <label data-toggle="tooltip" data-placement="bottom"
                                       title="#(x.userId1)">#(x.userName1)</label>
                                与
                                <label data-toggle="tooltip" data-placement="bottom"
                                       title="#(x.userId2)">#(x.userName2)</label>
                                的相似度为#(x.similarity)%<br>
                                #else
                                无数据
                                #end
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">相似度10%～30%</h3>
                            </div>
                            <div class="panel-body">
                                #for(x : similarityResultVo.lowSimilarityVoList)
                                <label data-toggle="tooltip" data-placement="bottom"
                                       title="#(x.userId1)">#(x.userName1)</label>
                                与
                                <label data-toggle="tooltip" data-placement="bottom"
                                       title="#(x.userId2)">#(x.userName2)</label>
                                的相似度为#(x.similarity)%<br>
                                #else
                                无数据
                                #end
                            </div>
                        </div>
                    </div>
                </div>
                #end
            </div>
        </div>
    </div>
</div>


#include("_js.html")
<script>

    $(function () {

        $('[data-toggle="tooltip"]').tooltip();


        $(".hidden-btn").click(function () {
            if ($(this).attr('data-original-title') === '隐藏') {
                $(this).attr('data-original-title', '显示');
                $(this).find('.glyphicon-chevron-up').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            } else {
                $(this).attr('data-original-title', '隐藏');
                $(this).find('.glyphicon-chevron-down').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
            $(this).closest('.row').next().toggle();
        });

    });
</script>

</body>
</html>
