<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>测试用例编辑</title>

    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">

    #include("_css.html")
</head>
<body>

#include("_navbar.html")

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/assignment/detail/#(assignment.assignmentId)-test_case_edit">测试用例编辑</a>
                </li>
                <li><a href="/assignment/detail/#(assignment.assignmentId)-code_upload">作业上传</a></li>
                <li><a href="/assignment/detail/#(assignment.assignmentId)-execute_result">批改结果查看</a></li>
                <li><a href="/assignment/detail/#(assignment.assignmentId)-similarity_analysis">相似度分析</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="col-md-12">
                    <div class="bread">
                        <a href="/class/list">班级列表</a>
                        &gt; <a href="/assignment/list/#(assignment.classId)">作业列表</a> &gt;
                        <span>作业详情</span>
                    </div>
                </div>
            </div>
            <div class="row read-option" style="margin-top: -20px">
                <div class="col-md-3">
                    <h2>测试用例列表</h2>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary add-question-btn" style="margin-top: 20px">
                        新增题目
                    </a>
                    <a class="btn btn-primary add-question-from-db-btn" style="margin-top: 20px">
                        从题库新增题目
                    </a>
                </div>
            </div>
            <div id="tab-content">
                <div id="change-content">
                    #for(question : questionVoList)
                    <div class="col-md-10"><h3>第#(question.questionNo)题</h3></div>
                    <div class="col-md-2" style="margin-top: 20px">
                        <a class="btn btn-info btn-xs add-btn" data-questionid="#(question.questionId)" title="添加用例">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                        <a class="invisible">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-info btn-xs hidden-btn" title="隐藏">
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </a>
                        <a class="invisible">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-info btn-xs delete-btn #if(question.questionNo!=questionSize)hidden#end"
                           title="删除" data-questionid="#(question.questionId)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <p>题目内容：#(question.content)</p>
                        <table class="table table-hover" style="margin-left: -5px">
                            <thead>
                            <tr>
                                <th>测试用例</th>
                                <th>答案</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            #for(x : question.testCaseList)
                            <tr>
                                <td>
                                    <pre>#(x.testCaseContent)</pre>
                                </td>
                                <td>
                                    <pre>#(x.answer)</pre>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" class="btn btn-success btn-xs" title="修改"
                                       data-toggle="tooltip" data-placement="bottom"
                                       data-id="#(x.testCaseId)" data-content="#(x.testCaseContent)"
                                       data-answer="#(x.answer)">
                                        <i class="glyphicon glyphicon-edit"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-danger btn-xs" title="删除"
                                       data-toggle="tooltip" data-placement="bottom"
                                       data-id="#(x.testCaseId)">
                                        <i class="glyphicon glyphicon-trash"></i></a>
                                </td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>

                    #end
                </div>
                <div id="pageTool"></div>
            </div>
        </div>
    </div>
</div>

<!--问题模态框-->
<div class="modal fade" id="questionModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">新增题目</h4>
            </div>
            <form class="form-horizontal" method="post" action="/testCase/addQuestion">
                <div class="modal-body">
                    <input type="hidden" name="assignmentId" value="#(assignment.assignmentId)">
                    <input type="hidden" name="questionNo" value="#(questionSize + 1)">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">题目内容</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6" name="content" id="question-content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--测试用例模态框-->
<div class="modal fade" id="caseModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title">新增测试用例</h4>
            </div>
            <form class="form-horizontal" id="modal-form" method="post" action="/testCase/add">
                <div class="modal-body">

                    <input type="hidden" name="assignmentId" value="#(assignment.assignmentId)">
                    <input type="hidden" name="testCaseId" id="testCaseId" value="0">
                    <input class="hidden" name="questionId" id="questionId" value="0">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">测试用例</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6" name="content" id="content"></textarea>
                            <span class="text-danger" style="display: none;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">答案</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6" name="answer" id="answer"></textarea>
                            <span class="text-danger" style="display: none;"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

#include("_js.html")

</body>
<script>
    var addUrl = '/testCase/add';
    var editUrl = '/testCase/edit';

    $(function () {

        $('[data-toggle="tooltip"]').tooltip();

        $('.add-question-btn').click(function () {
            $('#question-content').val('');
            $('#questionModel').modal('toggle');
            console.log('1111');
        });

        $('.add-btn').click(function () {
            $('#modal-form').attr('action', addUrl);
            $('#modal-title').html('新增测试用例');
            $('#questionId').val($(this).data('questionid'));
            $('#content').val('');
            $('#answer').val('');
            $('#caseModal').modal('toggle');
        });

        $('.delete-btn').click(function () {
            var btn = $(this);
            layer.confirm('此操作将会删除该问题及其下所有测试用例，是否确认删除？', {
                btn: ['确认', '取消']
            }, function (index, layero) {
                window.location.href = '/testCase/deleteQuestion?assignmentId=#(assignment.assignmentId)&questionId=' + btn.data('questionid');
            }, function (index) {
                layer.close(index);
            });
        });

        $('.btn-success').click(function () {
            $('#modal-form').attr('action', editUrl);
            $('#modal-title').html('修改测试用例');
            $('#testCaseId').val($(this).data('id'));
            $('#content').val($(this).data('content'));
            $('#answer').val($(this).data('answer'));
            $('#caseModal').modal('toggle');
        });

        $('.btn-danger').click(function () {
            var btn = $(this);
            layer.confirm('是否确认删除？', {
                btn: ['确认', '取消']
            }, function (index, layero) {
                window.location.href = '/testCase/delete?assignmentId=#(assignment.assignmentId)&testCaseId=' + btn.data('id');
            }, function (index) {
                layer.close(index);
            });
        });

        $(".hidden-btn").click(function () {
            if ($(this).attr('title') === '隐藏') {
                $(this).attr('title', '显示');
                $(this).find('.glyphicon-chevron-up').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            } else {
                $(this).attr('title', '隐藏');
                $(this).find('.glyphicon-chevron-down').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
            $(this).closest('div').next().toggle(200);
        });

    });
</script>
</html>